#body {
  /*background-color: #BDD5EA; */
}
#imgDiv {
  position: fixed;
  top: 3vh;
  bottom: 3vh;
  width: 100%;
  max-height: 94%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

#img {
  margin: 0px;
  padding: 0px;
  height: 90vh;
  border-radius: 4%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#buttonsDiv {
  position: fixed;
  max-width: 100%;
  max-height: 20%;
  bottom: 20vh;
  margin: 0px;
  padding: 0px;
  border: 1px solid yellow;
  box-sizing: border-box;
  justify-content: center;
}

#button1 {

}
