* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.doodle-container-div {
  width: 100vw;
  height: 100vh;
  display: flex;

  justify-content: center;
  align-items: center;

}

.doodle-image {
  max-width: 80%;
  max-height: 80%;

  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}